@using mgr_1_2_TI.Structure
@model List<BasketItem>

<table class="table">
    <tr>
        <th>Movie title</th>
        <th>Count</th>
        <th>Unit price</th>
        <th>Full price</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Movie.Title</td>
            <td>@item.Count</td>
            <td>@item.UnitPrice</td>
            <td>@item.FullPrice zł</td>
        </tr>
    }
    <tr>
        <!-- FIXME move this style to .css -->
        <td style="text-align: right;font-weight:bold" colspan="3">Totals:</td>
        <td>@ViewBag.Total</td>
    </tr>
</table>