@using mgr_1_2_TI.Structure
@model List<BasketItem>

<table class="table">
    <tr>
        <th>Movie title</th>
        <th>Count</th>
        <th>Unit price</th>
        <th>Full price</th>
        <th>Remove one</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="item-id-@item.Movie.Id">
            <td>@item.Movie.Title</td>
            <td class="item-quantity-@item.Movie.Id">@item.Count</td>
            <td>@item.UnitPrice</td>
            <td class="item-full-price-@item.Movie.Id">@item.FullPrice zł</td>
            <td>
                <a href="#" class="trash" data-id="@item.Movie.Id">
                    🗑
                </a>
            </td>
        </tr>
    }
    <tr>
        <td class="basket-totals-header">Totals:</td>
        <td class="basket-totals">@ViewBag.Total zł</td>
    </tr>
</table>

@section scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $(".trash").click(function () {
            const idBasketItem = $(this).data("id");
            
            if (idBasketItem == '') { return; }
            $.post("/Basket/RemoveFromBasket", { "id": idBasketItem }, function (response) {
                
                if (response.itemQuantity == 0) {
                    $(".item-id-" + response.itemId).fadeOut("slow");
                } else {
                    $(".item-quantity-" + response.itemId).text(response.itemQuantity);
                    $(".item-full-price-" + response.itemId).text(response.itemFullPrice + 'zł');
                }
                $(".basket-totals").text(response.basketSum + "zł");
                $("#nav_basket_redirect").text(response.basketCount);
            });
        });
    </script>
}