@model Movie

<div>
    <table>
        <tr>
            <td>
                <h1>@Model.Category.Name</h1>
                @(await Component.InvokeAsync("SideMenu", new { Model.CategoryId }))
            </td>
            <td>
                <img src="@(Url.Content($"~/posters/{Model.PosterName}"))" class="posters" alt="@Model.Title poster" />
            </td>
            <td>
                <table>
                    <tr>
                        <td class="details-header">Title</td>
                        <td>@Model.Title</td>
                    </tr>
                    <tr>
                        <td class="details-header">Director</td>
                        <td>@Model.Director</td>
                    </tr>
                    <tr>
                        <td class="details-header">Description</td>
                        <td>@Model.Description</td>
                    </tr>
                    <tr>
                        <td class="details-header">Price</td>
                        <td>@Model.Price zł</td>
                    </tr>
                    <tr>
                        <td class="details-header">Add to basket</td>
                        <td>
                            <a href="@Url.Action("AddToBasket", "Basket", new { id = Model.Id })">🛒</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>